* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    width: 100vw;
    background: linear-gradient(45deg,#5b5b5b,lightyellow);
    display: grid;
    place-content: center;
}

.bubble-container{
    height: 200px;
    width: 200px;
    position: absolute;
    position: relative;
    top: 70%;

}

/* bubble */
.bubble {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 75% 30%, #fff 1%, #ff21c0 8%, #5b5b5b 60%, #ff21c0 100%);
    border-radius:50%;
    /* shadow */
    box-shadow: 
        inset 0 0 20px #fff,
        inset 10px 0 46px #eaf5fc,
        inset 80px 0 60px #efcde6,
        inset -20px -60px 100px #f9f6de,
        inset 0 50px 140px #f9f6de,
        0 0 90px #fff;
    animation: bubble 2s cubic-bezier(.41,-0.48,.68,.71) infinite;      
}

/* eyes */
.eyes {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content:space-between;
    /* align-items: flex-start; */
    position: absolute;
    top: 45%;
    left: 30%;
}
.eye {
    height: 15%;
    width: 15%;
    background: radial-gradient(circle at 75% 30%, #fff 10%, #6e7076 8%, #5b5b5b 60%, #4b4449 100%);
    border-radius:50%;
    /* shadow */
    box-shadow: 
        inset 0 0 20% #fff,
        inset 10% 0 46% #eaf5fc,
        inset 80% 0 60% #efcde6,
        inset -20% -60% 100% #f9f6de,
        inset 0 50% 140% #f9f6de;
    animation: bubble 2s cubic-bezier(.41,-0.48,.68,.71) infinite .08s;  
}

/* mouth */
.mouth {
    height:15%;
    width: 15%;
    background-color: #ff218c;
    box-shadow: 
    inset -1px 1px 3px  #efcde6, 
    inset -2px 2px 10px  rgba(15, 15, 15, 0.4);
    border-radius: 30% 30% 70% 70%;
    position: absolute;
    top: 55%;
    left: 47%;
    animation: bubble-face 2s cubic-bezier(.41,-0.48,.68,.71) infinite .1s;  
    overflow: hidden;
}
/* .mouth::after,
.mouth::before {
    content: "";
    height: 30%;
    width: 30%;
    background-color: rgb(252, 222, 222);
    border-radius: 10% 10% 60% 50% ;
    position: absolute;
    top: 10%;
    left: 15%
} */
/* .mouth::after {
    left: 55%;
} */
/* bubble shadow */
.shadow {
    background-color: rgba(0,0,0,0.15);
    width: 150px;
    /* height: 40px; */
    position: absolute;
    bottom: -20px;
    left:-10px;
    border-radius: 50%;
    
    animation: shadow 2s cubic-bezier(.41,-0.48,.68,.71) infinite;  
}

/* animation */
@keyframes bubble {
    0%,100% {
        transform: translateY(0);
        transform: scaleY(0.9);
    }
    50% {
        transform: translateY(-100px);
    }    
}
@keyframes bubble-face {
    0%,100% {
        transform: translateY(0);
        transform: scale3d(1.1, 0.9, 1);
    }
    50% {
        transform: translateY(-100px);
    }    
}
@keyframes shadow {
    0%,100% {
        transform: scale(0.7);
        filter: blur(0);
        height: 50px;
    }
    50% {
        transform: scale(1);
        filter: blur(2px);
        height: 40px;
    }    
}